<section class="detail-view">
  <ng-container *ngIf="isUserSelected(); else createView">
    <div class="detail-view__label">
      {{ getFullName() }}
    </div>
  </ng-container>

  <ng-template #createView>
    <div class="detail-view__label">
      Create new user
    </div>
  </ng-template>

  <button type="button" aria-label="Close" (click)="closeDetailView()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>

  <form [formGroup]="userForm" (ngSubmit)="submit()" class="user-form">
    <fieldset class="user-form__content">
      <fieldset class="user-form__item">
        <label for="username" class="user-form__item-label">
          Username*
        </label>
        <input
          id="username"
          type="text"
          class="user-form__item-field"
          formControlName="username">
      </fieldset>

      <fieldset class="user-form__item">
        <label for="firstname" class="user-form__item-label">
          First name*
        </label>
        <input
          id="firstname"
          type="text"
          class="user-form__item-field"
          formControlName="firstname">
      </fieldset>

      <fieldset class="user-form__item">
        <label for="lastname" class="user-form__item-label">
          Last name*
        </label>
        <input
          id="lastname"
          type="text"
          class="user-form__item-field"
          formControlName="lastname">
      </fieldset>

      <fieldset class="user-form__item">
        <label for="email" class="user-form__item-label">
          Email*
        </label>
        <input
          id="email"
          type="email"
          class="user-form__item-field"
          formControlName="email">
      </fieldset>

      <fieldset class="user-form__item">
        <label for="type" class="user-form__item-label">
          Type*
        </label>
        <input
          id="type"
          type="text"
          class="user-form__item-field"
          formControlName="type">
      </fieldset>

      <fieldset class="user-form__item">
        <label for="password" class="user-form__item-label">
          Password*
        </label>
        <input
          id="password"
          type="password"
          class="user-form__item-field"
          formControlName="password">
      </fieldset>

      <fieldset class="user-form__item">
        <label for="repeat-password" class="user-form__item-label">
          Repeat password*
        </label>
        <input
          id="repeat-password"
          type="password"
          class="user-form__item-field"
          formControlName="repeatPassword">
      </fieldset>
      <fieldset class="user-form__item">
        <button
          *ngIf="isUserSelected()"
          class="user-form__btn"
          (click)="deleteUser()">
          Delete
        </button>

        <button
          type="submit"
          [disabled]="userForm.invalid"
          class="user-form__btn">
          <span *ngIf="!isUserSelected(); else saveBtn">Create</span>
          <ng-template #saveBtn>Save</ng-template>
        </button>
      </fieldset>
    </fieldset>
  </form>
</section>
